GCP_PROJECT_ID=glm-api-server
FIRESTORE_DATABASE_ID=(default)
LINEAR_API_KEY=
AI_GATEWAY_API_KEY=
ROUTER_MODEL=zai/glm-4.7-flashx
EXECUTOR_MODEL=zai/glm-5.2
LINEAR_TODO_STATE=Todo
LINEAR_IN_PROGRESS_STATE=In Progress
LINEAR_NEEDS_ACTION_STATE=Needs My Action
LINEAR_REVIEW_STATE=In Review
TASK_LEASE_SECONDS=900
MAX_TASK_COST_MICROS=250000
MAX_PROJECT_MONTHLY_COST_MICROS=5000000
PORT=8080
